services:
  library-management-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: front-library-management
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
